# dependencies
node_modules/

# next.js
.next/
out/
build/

# production
dist/

# env files (CRITICAL)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# prisma (database dosyasını push ETME)
prisma/*.db
prisma/*.db-journal

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# system files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# typescript
*.tsbuildinfo

# misc
coverage/
.cache/

# optional
*.pem